# Common dependencies
-r requirements-common.txt

# Dependencies for TPU
cmake>=3.26
ninja
packaging
setuptools-scm>=8
wheel
jinja2
ray[default]

--pre
--find-links https://storage.googleapis.com/libtpu-wheels/index.html
--find-links https://storage.googleapis.com/libtpu-releases/index.html
--find-links https://storage.googleapis.com/jax-releases/jax_nightly_releases.html
--find-links https://storage.googleapis.com/jax-releases/jaxlib_nightly_releases.html
